<!-- Launch file starting essential sensing nodes.
This scrip is used before teleoperating the youbot while visualizing sensors.
-->

<launch>

        <!-- <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" /> -->
        <include file="$(find youbot_driver_ros_interface)/launch/youbot_joint_state_publisher.launch" />
        <include file="$(find youbot_navigation_common)/launch/base_front_hokuyo_node.launch" />
        <!--
        <include file="$(find youbot_navigation_local)/launch/move_base_local.launch" />
        -->

</launch>


